<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ (myShelf$ | async)?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.--background]="scan.scanActive ? '#00000000' : null">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{(myShelf$ | async)?.name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngFor="let book of book$ | async">
    <!--<app-book-cover authors="{{book.authors}}" title="{{book.title}}" categories="{{book.categories}}"
      description="{{book.description}}" imageLinks=" {{book.imageLinks.smallThumbnail}}" shelfID="{{folder}}"
      bookID="{{book.id}}">
    </app-book-cover> -->
    <app-book-cover [book]="book" shelfID="{{folder}}"></app-book-cover>
  </div>
</ion-content>